h1
{
	color : red;
	text-align : center;
}
p
{
	color : red;
}
p::selection
{
	color:white;
	background-color:red;
}
div
{
	background-color : teal;
	/* width : 100% ;
	height : 30 */0px ;
	padding : 20px;
	font-family : Arial, sans-serif;
	font-size:28px;
	border : 2px solid black ;
	border-collapse : collapse ;
	margin-top : 15px ;
	margin-bottom : 15px ;
	margin-right : 15px ;
	margin-left : 15px ;
	text-align : center ;
	vertical-align : middle ;

}
table
{
	border : 2px solid blue;
	border-collapse : collapse ;
}
th , td
{
	border : 2px solid black;
	padding : 5px ;
	width : 50% ;
	text-align : center ;
}
th
{
	background-color : yellow ;
}

#Top
{
	font-size : 38px;
	background-color : yellow ;
	border : 2px solid black;
	margin-top : 15px ;
	margin-bottom : 15px ;
	margin-right : 15px ;
	margin-left : 15px ;
}
.bold
{
	font-weight : bold;
	color : red ;
}
ol >li
{
	color : blue ;
}
ul>li::before , ul>li::after
{
	content:"\263c ";
	color :red;
}

input[type=text]
{
	background-color : lime ;
	font-weight : bold;
}
button
{
	background-color : yellow ;
	width : 10% ;
}

button:hover
{
	color : white ;
	background-color : green ;
}

@media print
{
	.test
	{
		display: none;
	}
}

@media (min-width:500px){
	.www::before{
		content:"test page width";
	}
}

@media (max-width:499%){
	.www::before{
		content:"width...";
	}
}

.container
{
		display: flex;
		flex-wrap: wrap;
}

.container > div
{
	background-color : purple ;
	font-size : 22px ;
	margin : 20px;
	padding: 20px;
	width:200px
}















